<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Consultas</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/vapor/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">App Consultas</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03"
                aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Home
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5">

        <div class="col-md-5">
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">Ingrese su consulta</div>
                <div class="card-body">
                <form action="/consulta" method="POST">
                    <input type="text" name="query" placeholder="Consulta">
                    <button type="submit" class="btn btn-info mx-lg-2">
                        Enviar
                    </button>
                </form>
                </div>
            </div>
        </div>

        <div class="col-md-10">
            <div class="card border-primary mb-3">
                <div class="card-header">Tweets</div>
                <div class="card-body">
            <table class="table table-hover table-bordered table-striped">
                <thead>
                    <tr>
                        <td>Date</td>
                        <td>Text</td>
                        <td>User_ID</td>
                        <td>User_Name</td>
                    </tr>
                </thead>
                <tbody>
                    {% for c in consultas %}
                    <tr>
                        <td>{{ c['date'] }}</td>
                        <td>{{ c['text'] }}</td>
                        <td>{{ c['user_id'] }}</td>
                        <td>{{ c['user_name'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
            </div>
        </div>

    </div>
    <footer style = "
    margin-left: 10px;
	height: 60px;
	position: relative;
	bottom: 0;">
        Derechos reservados para el curso de Base de Datos 2 en Utec - 2021 
    </footer>
    
</body>
</html>

